
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --bg-primary: #FAF5EF;
    --bg-surface: #FFFFFF;
    --border-light: #DAD2C7;
    --bg-input: #EFE9E2;
    --text-dark: #2E2A26;
    --text-medium: #7B6E64;
    --text-light: #FFFFFF;
    --text-black: #1B1B1B;
    --text-link: #B75590;
    --shadow-small: rgba(55, 25, 10, 0.05);
    --shadow-medium: rgba(55, 25, 10, 0.1);
    --shadow-strong: rgba(55, 25, 10, 0.15);
    --card-bg-color: #FFEDE6;
    --card-border-color: #FFDAC9;
    --accent-green: #7CB518;
    --accent-green-dark: #5D8A0B;
    --accent-red: #E63946;
    --accent-red-dark: #B02A37;
    --accent-blue: #3A86FF;
    --accent-blue-dark: #265DC5;
    --status-completed-color: #3A86FF;
    --status-pending-color: #FF8C42;
}




html[data-theme='dark'] {
    --bg-primary: #14110F;
    --bg-surface: #1C1816;
    --border-light: #3A2E2A;
    --bg-input: #2B2523;
    --text-dark: #EFEAE6;
    --text-medium: #AFA59F;
    --text-light: #1C1816;
    --text-black: #FFFFFF;
    --text-link: #FF70A6;
    --shadow-small: rgba(255, 240, 230, 0.05);
    --shadow-medium: rgba(255, 240, 230, 0.1);
    --shadow-strong: rgba(255, 240, 230, 0.15);
    --card-bg-color: #332C2A;
    --card-border-color: #4A3F3B;
    --accent-green: #A8DADC;
    --accent-green-dark: #75C9C9;
    --accent-red: #EF476F;
    --accent-red-dark: #D8345F;
    --accent-blue: #118AB2;
    --accent-blue-dark: #0C6D91;
    --status-completed-color: #118AB2;
    --status-pending-color: #FFB627;
}





body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-primary);
    color: var(--text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:focus-visible {
    outline: 2px solid var(--accent-blue);
    outline-offset: 2px;
    border-radius: 4px;
}
